 /* Esta es la parte del fondo y el texto */
body{
    background-image: url("./img/fondo.jpg");   
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: azure;
    text-align: center;
    
}

/* imagen de bienvenida e instrucciones */
#imagen1{
    width: 150px;
    height: 150px;
}

#imagen2{
    width: 110px;
    height: 105px; 
}
/* Esta es la parte de las textarea solo el fondo de textura como lineas de papel */
textarea{
background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}

/* Esta es la parte de las medidas del los textareas */
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 90%;
    border-radius: 7px;
    margin-top: 20px;
    
}
/* Esta es la parte de los textarea finales de cifra y descifrar para que los botones esten distanciados de ella */
.respuestadescifrar, .respuestacifrar{
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Esta es la parte del diseño de los botones  */
.button{
    background:#1697a8;
    color: #fff;
    padding: 10px 35px;
    border-radius: 7px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    
}

/* Esta es la parte del boton al pasar el raton */
.button:hover{
    cursor: pointer;
}

#botoninstrucciones{
    text-align: center;
}
/* Esta es la imagen en las instracciones para saber que es cifrar o descifrar */
.duda{
    text-align: center;
}
/* Esta es la parte de las instrucciones del juego */
#textoinicio{
    text-align: justify;
}

/* Esta es la parte de los textarea superiores de cifrar y descifrar  */
 #texto1 , #texto0{
     padding-top: 8%;
     padding-bottom: 5%;
 }

 /* Estos son las partes divididas para que se vean como ventanas diferentes  */
 #bienvenida,#textoinicio ,.cifrar , .descifrar{
    width: 550px;
    margin: auto;
    background: rgba(0, 0,0, 0.5);
    padding: 10px 30px;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 7px;
    font-size: 20px;
}

/* Esta es la parte de la descripcion de que es crypto class */
.descripcion{
    text-align: justify;
} 

/* Estos son los titulos de bienvenida y las instruciones del juego */
 .titulo1 ,.titulo2{
    text-align: center;
    font-size: 20px;
}

/* Esta es la parte del texto de las instrucciones */
.paso1 , .paso2, .paso3 , .paso4{
    padding: 10px;
}

/* Esta es la parte de la barra de desplazamiento para la clave */
input[type=range] {
    height: 34px;
    margin: 10px 0;
    width: 90%;
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;   
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}
.barra::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #2fdef5;
    cursor: pointer;
}

.barra::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2fdef5;
    cursor: pointer;
}
    
/* Este es la parte de footer donde estan las redes sociales */
#footer1, #footer2 , #footer3 , #footer4{
    margin-bottom: 30px;
    margin-top: 30px;
    width: 50px;
    height: 50px;
}

/* Esta es la apariencia de las anclas a los links hacia el blog */
.links , .links2{
    text-decoration: none;
    color: #31c5d8;
}

/* Esta es la parte de apariencia del responsive segun las diferentes medidas de la pantalla */
@media screen and (max-width:600px) and (min-width:320px)  {
    #bienvenida,#textoinicio ,.cifrar ,.descifrar{
        width: 90%;
        font-size: 16px; 

    }
    #imagen1{
        width: 120px;
        height: 120px;
    }
    #titulo2{
        font-size: 18px;    
    }
    #footer1, #footer2, #footer3, #footer4{
        width: 40px;
        height: 40px;
        
    }
    .button{
        background:#1697a8;
        color: #fff;
        padding: 8px 20px;
        border-radius: 7px;
        margin: auto;
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 14px;
        
    }
    .button:hover{
        cursor: pointer;
    }
    .respuestacifrar,.respuestadescifrar{
        padding-top: 25px;
    }
}   
@media screen and (max-width:768px) and (min-width:520px)  {
    #bienvenida,#textoinicio ,.cifrar ,.descifrar{
        margin-top: 10%;
        width: 65%; 
        height: 50%;   
    }

    .respuestacifrar,.respuestadescifrar{
        padding-top: 25px;
    }
} 

@media screen and (max-width:1024px) and (min-width:770px)  {
    #bienvenida,#textoinicio ,.cifrar ,.descifrar{
        margin-top: 22%;
        width: 75%; 
        height: 90%;
        font-size: 27px;   
    }
    .respuestacifrar,.respuestadescifrar{
        padding-top: 30px;
    }
} 